
  body {
    margin: auto;
    padding: auto;
    height: 600px;
    width: 100%;
    background: linear-gradient(to bottom right, fuchsia, goldenrod);
  }
  
  nav {
    display: flex;
    justify-content: flex-end;
    margin-top: 30px;
    margin-right: 30px;
    list-style: none;
  }
  
  .items {
    margin-left: 60px;
  }
  
  button {
    border: none;
    background: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: bold;
    color: white;
  }
  
  p {
    text-align: center;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: bold;
    color: white;
    margin-top: 140px;
  }
  
  .valider {
    box-sizing: border-box;
    width: 700px;
    margin: auto;
    border-radius: 20px;
    padding: 10px 10px 10px 10px;
  }
  
  .input_css {
    padding: 10px 5px 10px 10px;
    margin-left: 20px;
    margin-bottom: 10px;
    background: none;
    border: none;
    border-bottom: 1px solid white;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
  }
  
  .btn {
    background: white;
    width: 190px;
    border-radius: 5px;
    padding: 10px;
    color: black;
    font-size: 18px;
    margin-left: 20px;
  }
  
  .categorie {
    background-color: firebrick;
    margin: auto;
    width: 700px;
    /* box-sizing: border-box; */
  }
  
  tr {
    display: flex;
    margin-top: 50px;
    padding: 20px;
    justify-content: space-around;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    list-style: none;
    text-transform: uppercase;
    color: white;
  }
  
  .container_list {
    /* margin: auto; */
    position: absolute;
    margin-top: -16px;
    margin-left: 325px;
    height: 40px;
    width: 700px;
    border: 1px solid grey;
  }