body {
  margin: auto;
  padding: auto;
  height: 800px;
  width: 100%;
  background: linear-gradient(to bottom right, fuchsia, goldenrod);
}

.navbar {
  font-family: "Dongle", sans-serif;
  font-size: 30px;
  text-align: end;
}

a {
  text-decoration: none;
  color: white;
}

ol {
  display: inline-flex;
  margin-top: 10px;
}

.items {
  list-style: none;
  padding: 20px;
  top: 20px;
}

p {
  text-align: center;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  font-weight: bold;
  color: white;
  margin-top: 50px;
}

.valider {
  box-sizing: border-box;
  width: 600px;
  margin: auto;
  margin-top: 70px;
  border: 2px solid white;
  border-radius: 20px;
  padding: 20px 10px 20px 10px;
}

.input_css {
  padding: 10px 5px 10px 10px;
  margin-left: 20px;
  margin-bottom: 10px;
  background: none;
  border: none;
  border-bottom: 1px solid white;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  outline: none;
}

button {
  border: none;
  background: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: bold;
  color: white;
}

.btn {
  position: absolute;
  background: white;
  height: 50px;
  width: 180px;
  border-radius: 13px;
  padding: 10px;
  color: black;
  font-size: 18px;
  margin-left: 70px;
  margin-top: 7px;
}

.categorie {
  background-color: firebrick;
  margin: auto;
  margin-top: 30px;
  width: 700px;
  /* box-sizing: border-box; */
}

table {
  table-layout: auto;
  width: 100%;
}

th {
  padding: 0 20px;
}

tr {
  display: flex;
  /* margin-top: 50px; */
  padding: 20px;
  justify-content: space-around;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  list-style: none;
  text-transform: uppercase;
  color: white;
}

#tableUser {
  /* margin: auto; */
  position: absolute;
  margin-top: 2px;
  margin-left: -2px;
  height: auto;
  width: 699px;
  border: 1px solid white;
}
