body {
  margin: auto;
  padding: auto;
  height: 600px;
  width: 100%;
  background: linear-gradient(to bottom right, blue, green);
}

.login {
  margin: auto;
  height: 100px;
  margin-top: 200px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  font-weight: bold;
  margin-left: 510px;
  color: white;
}

.contenu {
  margin-top: -20px;
}

input {
  display: flex;
  margin: auto;
  padding: 15px;
  width: 300px;
  margin-top: 20px;
  margin-bottom: 20px;
  /* opacity: 0; */
  box-shadow: none;
  border: none;
  border-bottom: 1px solid white;
  background: none;
  color: white;
}

button {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
  width: 150px;
  padding: 10px;
  /* margin-bottom: 50px; */
  border: none;
  border-radius: 5px;
  justify-content: center;
  background: linear-gradient(to bottom right, green, springgreen);
  color: white;
  font-weight: bold;
}

button:hover {
  background: white;
  color: springgreen;
}
